<!--  how to use css in python_ flask-->
<!DOCTYPE html>


<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/staticFiles/main.css' />
 
  </head>
  <body>
    <div id="div1">
      <a href="http://10.100.116.16/macro" target="myIframe"></a>
      <iframe src="http://10.100.116.16/macro" name = myIframe frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div id="div2">
      <a href="http://10.100.116.16/micro" target="myIframe"></a>
      <iframe src="http://10.100.116.16/micro" name = myIframe id = "longFrame" frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div id="div3">
      <a href="http://10.100.230.15:8050" target="myIframe"></a>
      <iframe src="http://10.100.230.15:8050" name = myIframe frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </div>
   <!-- <div id="div4">
      <a href="http://www.wikipedia.org/" target="myIframe"></a>
      <iframe src="http://en.wikipedia.org/" name = myIframe frameborder="0" marginwidth="0" marginheight="0"></iframe>
    </div>
  -->
  </body>
</html>